Source: oslo-config
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Ghe Rivero <ghe.rivero@stackops.com>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all (>= 2.6.6-3~),
               python-pbr,
               python-setuptools,
               python-sphinx,
               python3-all (>= 3.2),
               python3-pbr,
               python3-setuptools
Build-Depends-Indep: python-coverage (>= 3.6),
                     python-fixtures (>= 0.3.14),
                     python-hacking (>= 0.8.0),
                     python-mimeparse,
                     python-mock (>= 1.0),
                     python-netaddr (>= 0.7.12),
                     python-oslosphinx (>= 2.2.0.0~a2),
                     python-oslotest (>= 1.1.0.0~a1),
                     python-six (>= 1.7.0),
                     python-stevedore (>= 0.14),
                     python-subunit (>= 0.0.18),
                     python-testscenarios (>= 0.4),
                     python-testtools (>= 0.9.34),
                     python3-mimeparse,
                     python3-mock (>= 1.0),
                     python3-netaddr (>= 0.7.12),
                     python3-oslotest,
                     python3-six (>= 1.7.0),
                     python3-stevedore (>= 0.14),
                     python3-subunit (>= 0.0.18),
                     python3-testscenarios (>= 0.4),
                     python3-testtools (>= 0.9.34),
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18)
Build-Conflicts: python-oslo.config,
                 python-oslo.db,
                 python-oslo.i18n,
                 python-oslo.messaging,
                 python-oslo.rootwrap,
                 python-oslo.vmware,
                 python3-oslo.config,
                 python3-oslo.i18n,
                 python3-oslo.rootwrap
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/oslo-config.git
Vcs-Git: git://anonscm.debian.org/openstack/oslo-config.git
Homepage: https://github.com/openstack/oslo-incubator

Package: python-oslo.config
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-pbr,
         python-netaddr (>= 0.7.12),
         python-six (>= 1.7.0),
         python-stevedore (>= 1.1.0),
         ${misc:Depends},
         ${python:Depends}
Provides: python-oslo-config
Description: Common code for Openstack Projects (configuration API) - Python 2.x
 The OpenStack Oslo project provides Python libraries containing
 infrastructure code shared by OpenStack projects.
 .
 The OpenStack Oslo Configuration API supports parsing command line
 arguments and .ini style configuration files.
 .
 This package provides the Python 2.x module.

Package: python3-oslo.config
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python3-pbr,
         python3-netaddr (>= 0.7.12),
         python3-six (>= 1.7.0),
         python3-stevedore (>= 1.1.0),
         ${misc:Depends},
         ${python3:Depends}
Description: Common code for Openstack Projects (configuration API) - Python 3.x
 The OpenStack Oslo project provides Python libraries containing
 infrastructure code shared by OpenStack projects.
 .
 The OpenStack Oslo Configuration API supports parsing command line
 arguments and .ini style configuration files.
 .
 This package provides the Python 3.x module.

Package: python-oslo.config-doc
Section: doc
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Provides: python-oslo-config
Description: Common code for Openstack Projects (configuration API) - doc
 The OpenStack Oslo project provides Python libraries containing
 infrastructure code shared by OpenStack projects.
 .
 The OpenStack Oslo Configuration API supports parsing command line
 arguments and .ini style configuration files.
 .
 This package provides the documentation.
